@import '../../_globalStyles.module';

.container {
	height: 100vh;
	background-color: $dark-grey;
	background-image: url("../../../public/images/miranhacity.jpg");
	background-position: bottom;
	background-repeat: no-repeat;
	background-attachment: scroll;
	border: 1px solid red;

	display: flex;
	flex-direction: column;
	justify-content: baseline;
	align-items: center;

	img {
		margin-top: 3rem;
		height: 104px;
		width: 152px;
	}

	p {
		margin-top: 2rem;
		font-size: 2rem;
		color: white;
		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		text-shadow: -1px 1px 0 #41ba45,
			1px 1px 0 #c63d2b,
			1px -1px 0 #42afac,
			-1px -1px 0 #c6c23f;
	}
}